:host {
    font: inherit;
    color: inherit;
}

.sw-select {
    position: relative;
    box-sizing: border-box;
}

.sw-select label {
    position: absolute;
    top: -1.4em;
    left: 0;
    cursor: text;
    font-size: .85em;
}

.sw-select .button {
    background-color: var(--background-color);
    border: none;
    text-align: left;
    padding: .4em 0;
    font-size: 1em;
    width: 100%;
    cursor: pointer;
    border-bottom: 0.0625em solid var(--border-color);
}

.sw-select button:hover,
.sw-select button:focus,
.sw-select button:focus-visible {
    outline: none;
    border-bottom-color: var(--border-color);
    box-shadow: 0 0.0625em 0 0 var(--border-color);
}

.sw-select .dropdown {
    display: none;
    margin-top: .4em;
    width: 100%;
    position: absolute;
    border: 1px solid var(--border-color);
    z-index: 1;
    background: var(--background-color);
    border-radius: var(--border-radius)
}

.sw-select .dropdown input {
    padding: .4em;
    margin: .4em;
}

.sw-select .results {
    display: flex;
    flex-direction: column;
    max-height: 12.5em;
    overflow: auto;
}

.sw-select .results > * {
    padding: .4em;
    margin: .4em;
}

.sw-select .option-hover,
.sw-select .option:hover {
    cursor: pointer;
    background-color: var(--hover-bg-color);
    color: var(--hover-fg-color);
}

.sw-select .show {
    display: flex;
    flex-direction: column;
}

.sw-select .show-above {
    bottom: 3.5em;
}


.sw-select .input {
    font-size: 1em;
    outline: 0;
    border: 0;
    border-bottom: 0.0625em solid var(--border-color);
    background: var(--background-color);
}

.sw-select input:hover,
.sw-select input:focus,
.sw-select input:focus-visible {
    outline: none;
    border-bottom-color: var(--border-color);
    box-shadow: 0 0.0625em 0 0 var(--border-color);
}
