:host {
    font: inherit;
    color: inherit;
}

.sw-select {
    position: relative;
    box-sizing: border-box;
}

.sw-select label {
    font-weight: var(--label-font-weight);
    position: absolute;
    top: calc(-1.4em - var(--label-distance));
    font-size: var(--label-font-size);
    left: 0;
    cursor: text;
}

.sw-select .button {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--bg-color);
    border: none;
    text-align: left;
    font-size: 1em;
    width: 100%;
    cursor: pointer;
    padding: var(--padding);
    border-color: var(--border-color);
    border-width: var(--border-width, 0 0 0.0625em 0);
    border-radius: var(--border-radius, 0.25em);
    border-style: solid;
    line-height: 1em;
}

.sw-select button:hover,
.sw-select button:focus,
.sw-select button:focus-visible {
    outline: none;
    border-bottom-color: var(--border-color);
    box-shadow: 0 0.0625em 0 0 var(--border-color);
}

.sw-select .dropdown {
    display: none;
    margin-top: .4em;
    width: 19.5em;
    position: absolute;
    border: 1px solid var(--border-color);
    z-index: 1;
    background: var(--dropdown-bg-color, var(--bg-color));
    border-radius: var(--border-radius, 0.25em);
}

.sw-select .dropdown input {
    padding: .4em;
    margin: .4em;
}

.sw-select .results {
    display: flex;
    flex-direction: column;
    max-height: 12.5em;
    overflow: auto;
    padding: 0.6em 0;
}

.sw-select .results > * {
    padding: 0 .4em;
    margin: 0 .4em;
}

.sw-select .option-hover,
.sw-select .option:hover {
    cursor: pointer;
    background-color: var(--hover-bg-color);
    color: var(--hover-fg-color);
}

.sw-select .show {
    display: flex;
    flex-direction: column;
}

.sw-select .show-above {
    bottom: 3.5em;
}


.sw-select .input {
    font-size: 1em;
    outline: 0;
    border: 0;
    border-bottom: 0.0625em solid var(--border-color);
    background: var(--input-bg-color, var(--bg-color));
}

.sw-select input:hover,
.sw-select input:focus,
.sw-select input:focus-visible {
    outline: none;
    border-bottom-color: var(--border-color);
    box-shadow: 0 0.0625em 0 0 var(--border-color);
}
