* {
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    background: ghostwhite;
}

:root {
    --background-color: ghostwhite;
    --foreground-color: white;
    --primary-color-100: rgba(98, 191, 124, 1);
    --primary-color-90: rgba(98, 191, 124, .9);
    --primary-color-70: rgba(98, 191, 124, .7);
    --primary-color-40: rgba(98, 191, 124, .4);
    --error-color: #ed4956;
    --radius: 5px;
    --flash-info-color: rgb(9, 105, 218);
    --flash-success-color: rgb(26, 127, 55);
    --flash-warning-color: rgb(154, 103, 0);
    --flash-error-color: rgb(207, 34, 46);
}
