*, ::before, ::after {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

.error {
    color: var(--error-color);
}

p.error {
    margin: .3em 0 0 0;
}

.input-wrapper {
    position: relative;
}

input {
    padding: .4em 0;
    border: 0;
    border-bottom: 1px solid lightgray;
    width: 100%;
    font-size: 1em;
    background: none;
}

label {
    position: absolute;
    top: .4em;
    left: 0;
    cursor: text;
    font-size: 1em;
    transition: .2s ease-out all;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -1.4em;
    font-size: .85em;
}

input:-webkit-autofill:not(:focus),
textarea:-webkit-autofill:not(:focus) {
    border-bottom-color: lightgray;
    -webkit-box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    border-bottom-color: var(--primary-color-100);
    -webkit-box-shadow: 0 1px 0 0 var(--primary-color-100);
    transition: background-color 5000s ease-in-out 0s;
}

input:hover,
input:focus-visible {
    outline: 0;
    border-bottom-color: var(--primary-color-100);
    box-shadow: 0 1px 0 0 var(--primary-color-100);
}
