.sw-input {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

.sw-input .error {
    color: var(--error-color);
}

.sw-input p.error {
    margin: .3em 0 0 0;
}

.sw-input .input-wrapper {
    position: relative;
}

.sw-input input {
    padding: .4em 0;
    border: 0;
    border-bottom: 1px solid lightgray;
    width: 100%;
    font-size: 1em;
    background: none;
}

.sw-input label {
    position: absolute;
    top: .4em;
    left: 0;
    cursor: text;
    font-size: 1em;
    transition: .2s ease-out all;
}

.sw-input input:focus + label,
.sw-input input:not(:placeholder-shown) + label {
    top: -1.4em;
    font-size: .85em;
}

.sw-input input:-webkit-autofill:not(:focus),
.sw-input textarea:-webkit-autofill:not(:focus) {
    border-bottom-color: lightgray;
    -webkit-box-shadow: none;
}

.sw-input input:-webkit-autofill,
.sw-input input:-webkit-autofill:hover,
.sw-input input:-webkit-autofill:focus,
.sw-input textarea:-webkit-autofill,
.sw-input textarea:-webkit-autofill:hover,
.sw-input textarea:-webkit-autofill:focus {
    border-bottom-color: var(--primary-color-100);
    -webkit-box-shadow: 0 1px 0 0 var(--primary-color-100);
    transition: background-color 5000s ease-in-out 0s;
}

.sw-input input:hover,
.sw-input input:focus-visible {
    outline: 0;
    border-bottom-color: var(--primary-color-100);
    box-shadow: 0 1px 0 0 var(--primary-color-100);
}

.sw-input .datetime-wrapper {
    display: flex;
}
