:host {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    --enable-transition: var(--on);
}

.error {
    color: var(--error-color);
}

p.error {
    margin: .3em 0 0 0;
}

.input-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

input {
    padding: var(--padding, .4em 0);
    border-style: solid;
    border-width: var(--border-width, 0 0 0.0625em 0);
    border-radius: var(--border-radius);
    border-color: var(--border-color, lightgray);
    width: 100%;
    background: var(--input-bg-color, none);
    box-sizing: border-box;
}

label {
    position: var(--enable-transition, relative);
    margin-bottom: var(--label-distance);
    font-weight: var(--label-font-weight);
    top: 1.8em;
    cursor: text;
    transition: .2s ease-out top, font-size;
    pointer-events: var(--enable-transition, none);
    line-height: 1.2em;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: 0;
    font-size: var(--enable-transition, .8em);
    line-height: var(--enable-transition, 1.45em);
}

input:-webkit-autofill:not(:focus),
textarea:-webkit-autofill:not(:focus) {
    border-bottom-color: lightgray;
    -webkit-box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    border-bottom-color: var(--border-hover-color);
    -webkit-box-shadow: var(--enable-focus-shadow, 0 0.0625em 0 0 var(--border-hover-color));
    transition: background-color 5000s ease-in-out 0s;
}

input:hover,
input:focus-visible {
    outline: 0;
    border-color: var(--border-hover-color);
    box-shadow: var(--enable-focus-shadow, 0 0.0625em 0 0 var(--border-hover-color));
}

.datetime-wrapper {
    display: flex;
}
