*, ::before, ::after {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

.select-wrapper {
    position: relative;
}

label {
    position: absolute;
    top: -1.4em;
    left: 0;
    cursor: text;
    font-size: .85em;
}

.button {
    background-color: var(--background-color);
    border: none;
    text-align: left;
    padding: .4em 0;
    font-size: 1em;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}

button:hover,
button:focus,
button:focus-visible {
    outline: none;
    border-bottom-color: var(--primary-color-100);
    box-shadow: 0 1px 0 0 var(--primary-color-100);
}

.dropdown {
    display: none;
    margin-top: .4em;
    width: 100%;
    position: absolute;
    border: 1px solid lightgray;
    z-index: 1;
    background: var(--background-color);
    border-radius: var(--radius)
}

.dropdown input {
    padding: .4em;
    margin: .4em;
}

.results {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow: auto;
}

.results > * {
    padding: .4em;
    margin: .4em;
}

.option-hover,
.option:hover {
    cursor: pointer;
    background-color: #ddd;
}

.show {
    display: flex;
    flex-direction: column;
}

.show-above {
    bottom: 3.5em;
}


.input {
    font-size: 1em;
    outline: 0;
    border: 0;
    border-bottom: 1px solid lightgray;
    background: var(--background-color);
}

input:hover,
input:focus,
input:focus-visible {
    outline: none;
    border-bottom-color: var(--primary-color-100);
    box-shadow: 0 1px 0 0 var(--primary-color-100);
}
