button {
    color: var(--foreground-color);
    background: var(--primary-color-70);
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    white-space: nowrap;
    line-height: 2;
}

button:disabled,
button:disabled:hover {
    background: var(--primary-color-40);
}

button:hover {
    background: var(--primary-color-100);
}

button:active {
    background: var(--primary-color-100);
    box-shadow: 0 0 2px 1px var(--primary-color-100);
}
