*, ::before, ::after {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 2em;
}

div.wrapper a,
div.wrapper span {
    margin: 0 .5em;
}

#next {
    margin-left: .5em;
}

.currentPage {
    color: var(--primary-color-100)
}

.previous,
.next {
    font-weight: bold;
    text-transform: uppercase;
}

span:not(span.currentPage, span.caption) {
    cursor: pointer;
}
