*, ::before, ::after {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

div.wrapper a,
div.wrapper .current-page {
    box-sizing: border-box;
    display: inline-block;
    width: var(--page-width);
    text-decoration: none;
    margin: var(--page-margin);
    padding: var(--page-padding);
    background-color: var(--page-bg-color);
    border-radius: var(--border-radius);
}

div.wrapper a:hover {
    background-color: var(--page-hover-bg-color, var(--page-bg-color));
}

.next-page-link-text,
.previous-page-link-text {
    display: var(--enable-short-style, none);
}

.pages-list {
    margin: 0 var(--next-prev-distance);
}

.pages-list:last-child {
    margin-right: 0;
}

div.wrapper .current-page {
    color: var(--current-page-fg-color);
    background-color: var(--current-page-bg-color);
}

span:not(span.currentPage, span.caption) {
    cursor: pointer;
}
